# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Streamlit
.streamlit/secrets.toml

# Ambiente
.env
*.log

# IDE
.vscode/
.idea/

# Testes
.pytest_cache/
.coverage
htmlcov/

# AWS
*.pem
